body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #163152;
    background-color: #fdfdff;
    margin: 0;
}

.page-header {
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 20px 55px;
}

.main-nav {
    display: flex;
}

.main-nav .logo {
    width: 64px;
    margin: 0;
    padding: 0;
}

.main-nav .logo {
    margin-right: 471px;
}

.site-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 559px;
}

.site-navigation-item a {
    color: #163152;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

.account {
    width: 36px;
    margin-left: auto;
}

.main-content {
    width: 1170px;
    margin: 0 auto;
    padding: 0 55px;
}

.hero {
    margin-bottom: 120px;
}

.hero h1 {
    margin-top: 0;
    margin-left: 70px;
    margin-bottom: 40px;
    font-size: 44px;
    font-style: italic;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
}

.blog-article {
    width: 1030px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.blog-article-1 {
    margin-bottom: 100px;
}

.blog-article-2 {
    flex-direction: row-reverse;
    margin-bottom: 120px;
}

.blog-article-content {
    width: 400px;
}

.blog-article-img {
    width: 600px;
}

.blog-article p:first-child {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.blog-article h2,
.contacts h2 {
    font-size: 24px;
    line-height: 34px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #00c6bd;
    text-underline-position: under;
    text-underline-offset: 15px;
}

.blog-article h2 {
    margin-top: 10px;
    margin-bottom: 35px;
}

.news {
    width: 770px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.news h2 {
    margin-top: 0;
    margin-bottom: 55px;
}

.news figure {
    margin: 0;
}

.photo-news figcaption {
    font-size: 16px;
    margin: 0;
    color: #8693a4;
    line-height: 19px;
}

.news h2 {
    font-size: 24px;
    line-height: 34px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #00c6bd;
    text-underline-position: under;
    text-underline-offset: 15px;
    text-align: center;
}

.post h3 {
    font-size: 22px;
    line-height: 26px;
}

.post p {
    font-size: 18px;
    line-height: 26px;
}

.post h4 {
    font-size: 20px;
    line-height: 26px;
}

.post ins {
    text-decoration: none;
}

.post ul {
    font-size: 18px;
    line-height: 26px;
}

.post blockquote {
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
}

.post-info a {
    color: #163152;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

.post-info time {
    color: #8693a4;
    font-size: 16px;
    line-height: 19px;
}

.gallery h2 {
    text-align: center;
    font-size: 24px;
    line-height: 34px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #00c6bd;
    text-underline-offset: 15px;
}

.contacts {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.contacts-column {
    width: 400px;
}

.contacts h2 {
    margin-top: 0;
    margin-bottom: 35px;
}

.contact-item,
.contact-item h3 {
    font-size: 16px;
    line-height: 22px;
}

.contact-item address {
    font-style: normal;
}

.contact-item a {
    color: #163152;
    text-decoration: none;
}

contacts-img {
    width: 670px;
}

.main-footer {
    margin-top: 120px;
    padding: 60px 0;
}

.main-footer-container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 55px;
    display: flex;
}

.main-footer-column {
    width: 175px;
    margin-right: 125px;
}

.main-footer .logo {
    margin-top: 0;
}

.policy,
.copyright {
    font-size: 10px;
    line-height: 12px;
}

.policy a {
    color: #163152;
    text-decoration: none;
}

.footer-navigation-topics {
    width: 900px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.footer-navigatiom-topic h2 {
    margin-top: 0;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.footer-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-navigation-item {
    width: 165px;
}

.footer-navigation-item a {
    color: #163152;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}
