body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #163152;
    background-color: #fdfdff;
    margin: 0;
}

.page-header {
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 20px 55px;
}

.main-nav {
    display: flex;
    align-items: center;
}

.main-nav .logo {
    width: 64px;
    height: 68px;
    margin: 0;
    padding: 0;
    margin-right: 471px;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 559px;
}

.site-navigation-item {
    margin-right: 30px;
}

.site-navigation-item:last-child {
    margin-right: 0;
}

.site-navigation-item a {
    color: #163152;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

.site-navigation-item a:hover {
    color: rgba(22, 49, 82, 0.5);
}

.site-navigation-item a:active {
    color: rgba(22, 49, 82, 0.3);
}

.account {
    width: 36px;
    height: 36px;
    margin-left: auto;
}

.account:hover {
    opacity: 0.5;
}

.account:active {
    opacity: 0.3;
}

.main-content {
    width: 1170px;
    margin: 0 auto;
    padding: 0 55px;
}

.hero {
    margin-bottom: 120px;
}

.hero h1 {
    margin-top: 0;
    margin-left: 70px;
    margin-bottom: 40px;
    font-size: 44px;
    font-style: italic;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
}

.hero img {
    display: block;
}

.blog-article {
    width: 1030px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.blog-article p {
    margin: 0;
}

.blog-article-1 {
    margin-bottom: 100px;
}

.blog-article-2 {
    flex-direction: row-reverse;
    margin-bottom: 120px;
}

.blog-article-content {
    width: 400px;
}

.blog-article-content p.date {
    margin-top: 0;
    margin-bottom: 10px;
}

.blog-article-content h2 {
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 34px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #00c6bd;
    text-underline-position: under;
    text-underline-offset: 15px;
}

.blog-article-img {
    width: 600px;
}

.blog-article p:first-child {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.rent {
    margin-bottom: 120px;
    font-size: 14px;
    line-height: 19px;
}

.rent h2 {
    margin: 0;
    margin-bottom: 55px;
    font-size: 24px;
    line-height: 34px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.card {
    width: 310px;
    padding: 30px;
    background: #fdfdff;
}

.card img {
    display: block;
    margin-bottom: 21px;
}

.card-title {
    margin: 0;
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 23px;
}

.card-description {
    margin: 0;
    margin-bottom: 15px;
    line-height: 24px;
}

.card-features {
    margin: 0;
    margin-bottom: 29px;
    margin-left: 18px;
    padding: 0;
}

.card-features li {
    margin-bottom: 4px;
}

.card-price {
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
}

.gallery {
    margin-bottom: 120px;
}

.gallery h2 {
    text-align: center;
    font-size: 24px;
    line-height: 34px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #00c6bd;
    text-underline-offset: 15px;
    margin-top: 0;
    margin-bottom: 55px;
}

.gallery-slider {
    display: flex;
}

.gallery .active-photo {
    margin-right: 30px;
    width: 970px;
}

.gallery .preview-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 170px;
}

.gallery .preview-list li {
    margin-bottom: 30px;
}

.gallery .preview-list li:last-child {
    margin-bottom: 0;
}

.preview-list a {
    position: relative;
    display: block;
}

.preview-list a::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(253, 253, 255, 0.5);
}

.preview-list img {
    display: block;
}

.preview-list a.active-item::before {
    background-color: transparent;
}

.news {
    width: 770px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.news h2 {
    margin-top: 0;
    margin-bottom: 55px;
}

.photo-news {
    margin: 0;
    margin-bottom: 33px;
}

.photo-news img {
    margin-bottom: 17px;
}

.photo-news figcaption {
    font-size: 16px;
    margin: 0;
    color: #8693a4;
    line-height: 19px;
}

.news h2 {
    font-size: 24px;
    line-height: 34px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #00c6bd;
    text-underline-position: under;
    text-underline-offset: 15px;
    text-align: center;
}

.post h3 {
    margin-top: 33px;
    margin-bottom: 27px;
    font-size: 22px;
    line-height: 26px;
}

.post p {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 26px;
}

.post h4 {
    margin-top: 24px;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 26px;
}

.post ins {
    text-decoration: none;
}

.post ul {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 19px;
    font-size: 18px;
    line-height: 26px;
}

.post li {
    padding-bottom: 8px;
}

.post blockquote {
    margin: 0;
    margin-top: 38px;
    margin-bottom: 30px;
    padding-left: 20px;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    border-left: 2px solid #00c6bd;
}

.post-footer {
    margin-top: 40px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author-photo {
    width: 60px;
    margin-right: 15px;
}

.post-info {
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.post-info a {
    margin-bottom: 9px;
    color: #163152;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

.post-info a:hover {
    color: rgba(22, 49, 82, 0.5);
}

.post-info a:active {
    color: rgba(22, 49, 82, 0.3);
}

.post-info time {
    color: #8693a4;
    font-size: 16px;
    line-height: 19px;
}

.post-share {
    width: 26px;
    height: 22px;
}

.post-share:hover {
    opacity: 0.5;
}

.post-share:active {
    opacity: 0.3;
}

.contacts {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.contacts-column {
    width: 400px;
    padding-top: 50px;
}

.contacts h2 {
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 34px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #00c6bd;
    text-underline-position: under;
    text-underline-offset: 15px;
}

.contact-items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact-item,
.contact-item h3 {
    font-size: 16px;
    line-height: 22px;
}

.contact-item {
    display: flex;
    flex-wrap: wrap;
}

.contact-item h3 {
    margin: 0;
    margin-right: 10px;
    margin-bottom: 15px;
}

.contact-item address {
    font-style: normal;
}

.contact-item a {
    color: #163152;
    text-decoration: none;
}

.social-items {
    display: list-item;
}

.social-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.social-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #00c6bd;
    border-radius: 50%;
}

.social-item a:hover {
    opacity: 0.5;
}

.social-item a:active {
    opacity: 0.3;
}

contacts-img {
    width: 670px;
}

.main-footer {
    margin-top: 120px;
    padding: 60px 0;
}

.main-footer-container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 55px;
    display: flex;
}

.main-footer-column {
    width: 175px;
    margin-right: 125px;
}

.main-footer .logo {
    margin-top: 0;
    margin-bottom: 30px;
    width: 100px;
    height: 106px;
}

.policy,
.copyright {
    font-size: 10px;
    line-height: 12px;
}

.policy a {
    color: #163152;
    text-decoration: none;
}

.footer-navigation-topics {
    width: 870px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.footer-navigatiom-topic {
    width: 165px;
}

.footer-navigatiom-topic h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.footer-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-navigation-item {
    margin-bottom: 12px;
}

.footer-navigation-item:last-child {
    margin-bottom: 0;
}

.footer-navigation-item a {
    color: #163152;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}

.footer-navigation-item a:hover {
    color: rgba(22, 49, 82, 0.5);
}

.footer-navigation-item a:active {
    color: rgba(22, 49, 82, 0.3);
}
